.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: #2f3d97e2;
  text-align: center;
  color: rgb(250, 250, 252);
}

h1 {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 5px 5px 130px;
}


form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto 30px;
}

button {
  padding: 10px 15px;
  font-size: 20px;
  background-color: rgb(31, 54, 108);
  color: white;
  border: 1px rgb(96, 107, 212) solid;
  border-radius: 8px;
  margin-left: 10px;
}